body {
    
}
.diary-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.diary-title{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

